<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<title>后台管理系统-HTML5后台管理系统</title>
<meta name="keywords" content="设置关键词..." />
<meta name="description" content="设置描述..." />
<meta name="author" content="bootstrapMB" />
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
<link rel="icon" href="images/icon/favicon.ico" type="image/x-icon">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/static/admin_2/css/style.css" />
<script src="/static/admin_2/javascript/jquery.js"></script>
<script src="/static/admin_2/javascript/plug-ins/customScrollbar.min.js"></script>
<script src="/static/admin_2/javascript/plug-ins/echarts.min.js"></script>
<script src="/static/admin_2/javascript/plug-ins/layerUi/layer.js"></script>
<script src="/static/admin_2/editor/ueditor.config.js"></script>
<script src="/static/admin_2/editor/ueditor.all.js"></script>
<script src="/static/admin_2/javascript/plug-ins/pagination.js"></script>
<script src="/static/admin_2/javascript/public.js"></script>
<style>
    .btn-primary {
    background: #1b7c3c;
    border-color: #000000;
    color: white;
}
    .content-wrap {
        margin-left: 0px; /* Adjust this value based on your sidebar width */
    }
</style>
<script>
function autoGrade(button) {
    // Generate a random score between 60 and 100
<!--    const score = Math.floor(Math.random() * 41) + 40;-->
const score = 61 ;
    // Find the closest table row and update the score cell
    const row = button.closest('tr');
    const scoreCell = row.querySelector('.score-cell');
    scoreCell.textContent = score;
    scoreCell.style.color = 'red'; // 设置分数颜色为红色
    scoreCell.style.fontSize = '20px'; // 设置分数字体大小
    alert('批改完毕！');
}


	function rengong(button) {

    alert('修改完毕！');
    // Generate a random score between 60 and 100
<!--    const score = Math.floor(Math.random() * 41) + 40;-->
const score = 62 ;
    // Find the closest table row and update the score cell
    const row = button.closest('tr');
    const scoreCell = row.querySelector('.score-cell');
    scoreCell.textContent = score;
    scoreCell.style.color = 'red'; // 设置分数颜色为红色
    scoreCell.style.fontSize = '20px'; // 设置分数字体大小
}





</script>
</head>
<body>
<div class="main-wrap">
    <div class="side-nav">
        <div class="side-logo">
            <div class="logo">
                <span class="logo-ico">
                    <i class="i-l-1"></i>
                    <i class="i-l-2"></i>
                    <i class="i-l-3"></i>
                </span>
                <strong>讯飞教育平台管理系统</strong>
            </div>
        </div>

        <nav class="side-menu content mCustomScrollbar" data-mcs-theme="minimal-dark">
            <h2>
				<a href="index.html" class="InitialPage"><i class="icon-dashboard"></i>学生数据概况</a>
			</h2>
			<ul>
				<li>
					<dl>
						<dt>
							<i class="icon-columns"></i>学生学习情况<i class="icon-angle-right"></i>
						</dt>
						<dd>
							<a href="flex-layout.html">情况一览表</a>
						</dd>

					</dl>
				</li>
				<li>
					<dl>
						<dt>
							<i class="icon-inbox"></i>学生问题答疑<i class="icon-angle-right"></i>
						</dt>
						<dd>
							<a href="table.html">进入答疑</a>
						</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt>
							<i class="icon-table"></i>试题/试卷管理<i class="icon-angle-right"></i>
						</dt>
						<dd>
							<a href="button.html">试题管理</a>
						</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt>
							<i class="icon-list-alt"></i>手动/智能组卷<i class="icon-angle-right"></i>
						</dt>
						<dd>
							<a href="form.html">教师智能组卷</a>
						</dd>
					</dl>
				</li>
				<li>
<!--					<dl>-->
<!--						<dt>-->
<!--							<i class="icon-bar-chart"></i>学生学习进度一览<i class="icon-angle-right"></i>-->
<!--						</dt>-->
<!--						<dd>-->
<!--							<a href="echarts.html">echarts统计图表</a>-->
<!--						</dd>-->
<!--					</dl>-->
				</li>

				<li>
					<dl>
						<dt>
							<i class="icon-tags"></i>学习/校园暴力预警<i class="icon-angle-right"></i>
						</dt>
						<dd>
							<a href="tab.html">查看预警信息</a>
						</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt>
							<i class="icon-star"></i>自动阅卷<i class="icon-angle-right"></i>
						</dt>
						<dd>
							<a href="layer.html">批阅试卷</a>
						</dd>
					</dl>
				</li>
			</ul>
		</nav>
        <footer class="side-footer">© 冲冲冲！团队版权所有</footer>

	</div>
	<div class="content-wrap">
		<header class="top-hd">
			<div class="hd-lt">
				<a class="icon-reorder"></a>
			</div>
			<div class="hd-rt">
				<ul>
					<li>
						<a href="#" target="_blank"><i class="icon-home"></i>前台访问</a>
					</li>
					<li>
						<a><i class="icon-random"></i>清除缓存</a>
					</li>
					<li>
						<a><i class="icon-user"></i>管理员:<em>李玲老师</em></a>
					</li>
					<li>
						<a><i class="icon-bell-alt"></i>系统消息</a>
					</li>
					<li>
						<a href="javascript:void(0)" id="JsSignOut"><i class="icon-signout"></i>安全退出</a>
					</li>
				</ul>
			</div>
		</header>
        <main class="main-cont content mCustomScrollbar">
            <div class="page-wrap">
                <section class="page-hd">
                    <header>
                        <h2 class="title">试卷批改</h2>
                        <p class="title-description">
                            使用方法： 1. 点击“自动批改”按钮，系统将自动批改学生的答卷，并显示学生的分数； 2. 点击“查看批阅后试卷”按钮，系统将显示学生的答卷，并显示批阅后的试卷。
                        </p>
                    </header>
                    <hr>
                </section>
                <div class="container mt-4">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">试卷名称</th>
                                    <th scope="col">学生姓名</th>
                                    <th scope="col">上传日期</th>
                                    <th scope="col">得分</th>
                                    <th scope="col">操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for paper in papers %}
                                <tr>
                                    <td>{{ paper.paper_title }}</td>
                                    <td>{{ paper.student_name }}</td>
                                    <td>{{ paper.upload_date }}</td>
                                    <td class="score-cell"></td>
                                    <td>
                                        <button onclick="autoGrade(this)" class="btn btn-primary btn-sm">自动批改</button>
                                        <a href="{% url 'download_and_grade' paper.id %}" class="btn btn-primary btn-sm">查看批阅后试卷</a>
<!--										<a href="{% url 'download_and_grade' paper.id %}" class="btn btn-primary btn-sm">人工检查后提交</a>-->
                                        <button onclick="rengong(this)" class="btn btn-primary btn-sm">人工修改后提交</button>

                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
        <footer class="btm-ft">
            <p class="clear">
              <span class="fl">©Copyright 2024 <a href="#"  target="_blank">冲冲冲！团队！</a></span>
                <span class="fr text-info">
                    <em class="uppercase">
                        <i class="icon-user"></i>
                    </em> |
                   <em class="uppercase"><i class="icon-envelope-alt"></i>
						<a href="Http://www.bootstrapmb.com" target="_blank">联系冲冲冲！团队</a>
					</em>
                </span>
            </p>
        </footer>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
</body>
</html>
